* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
}

html::-webkit-scrollbar {
  width: .7rem;
}

html::-webkit-scrollbar-track {
  background-color: #f3f4f6;
}

html::-webkit-scrollbar-thumb {
  background: #491bbf;
}

button:active {
  transform: scale(0.9);
}

.services {
  font-family: "Nanum Gothic Coding", monospace;
}


/* Animação social links */
/* From Uiverse.io by wilsondesouza */
ul {
  list-style: none;
}

.example-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-2 .icon-content {
  margin: 0 10px;
  position: relative;
}

.example-2 .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}

.example-2 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}

.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 55px;
  border-radius: 10px;
  color: #491bbf;
  background-color: transparent;
  border: 1px solid #491bbf;
  transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
  border: none;
}

.example-2 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 25px;
  height: 25px;
}

.example-2 .icon-content a:hover {
  color: white;
}

.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover .filled {
  height: 100%;
}

.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"]~.tooltip {
  background-color: #0274b3;
}

.example-2 .icon-content a[data-social="github"] .filled,
.example-2 .icon-content a[data-social="github"]~.tooltip {
  background-color: #24262a;
}

.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"]~.tooltip {
  background: linear-gradient(45deg,
      #405de6,
      #5b51db,
      #b33ab4,
      #c135b4,
      #e1306c,
      #fd1f1f);
}

.example-2 .icon-content a[data-social="youtube"] .filled,
.example-2 .icon-content a[data-social="youtube"]~.tooltip {
  background-color: #ff0000;
}


.navbar-toggler i {
  font-size: 32px;
}

.nav-link {
  color: #262626;
  font-weight: 500;
  position: relative;
}

.container-fluid a {
  font-size: 1rem;
}

.nav-link:hover,
.nav-link:focus,
.nav-link.active {
  color: #491bbf !important;
}

@media (min-width: 992px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 40%;
    transform: translateX(-40%);
    width: 0;
    height: 2px;
    background-color: #491bbf;
    visibility: hidden;
    transition: .3s ease-in-out;
  }

  .nav-link:hover::before,
  .nav-link:focus::before,
  .nav-link:active::before {
    width: 100%;
    visibility: visible;
  }
}

.text-animation::after {
  content: "";
  margin-left: 5px;
  opacity: 1;
  animation: pisca .7s infinite;
  border-right: 5px solid #491bbf;
}

.hide-cursor::after {
  display: none;
}

@keyframes pisca {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

/* Estilo para o modo claro */
.btn-close {
  filter: invert(0);
}

/* Estilo para o modo escuro */
.dark .btn-close {
  filter: invert(1);
}

.image-about {
  position: relative;
  display: inline-block;
}

.image-about::before {
  content: '';
  position: absolute;
  background-color: #491bbf;
}

.image-about::before {
  bottom: -10px;
  right: 5px;
  width: 50%;
  height: 50%;
}

.border-bottom-custom {
  position: relative;
  display: inline-block;
}

.border-bottom-custom::after {
  content: '';
  display: block;
  width: 50px;
  border-bottom: 8px solid #491bbf;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
  border-radius: 20px;
}

.border-bottom-custom-2 {
  position: relative;
  display: inline-block;
}

.border-bottom-custom-2::after {
  content: '';
  display: block;
  width: 50px;
  border-bottom: 8px solid #491bbf;
  position: absolute;
  left: 26px;
  transform: translateX(-50%);
  bottom: -20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.border-custom-image {
  border-right: 12px solid;
  border-bottom: 12px solid;
}